<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminLayout}">

<head>
	<title>ST ADMIN - COUPON</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Events</h1>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h4 class="mt-0 font-weight-bold text-primary">Event Data<a href="#"
							class="btn btn-primary btn-icon-split float-right">
							<span class="icon text-white-50">
								<i class="fas fa-plus"></i>
							</span>
							<span class="text">Add</span>
						</a></h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Start Date</th>						
									<th>End Date</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Start Date</th>
									<th>End Date</th>
								</tr>
							</tfoot>
								<tbody>
									<tr th:each="Event: ${Event}">
										<td th:text="${Event.EventId}" />
										<td th:text="${Event.EventName}" />
										<td>
											<a th:href="@{/admin/edit-Event/{id}(id=${Event.EventId})}"
												class="btn btn-warning btn-circle btn-sm EventEditBtn" title="Update">
												<i class="fas fa-edit"></i>
											</a>
											<a th:href="@{/admin/destroy-Event/(id=${Event.EventId})}"
												class="btn btn-danger btn-circle btn-sm EventDeleteBtn" title="Delete">
												<i class="fas fa-trash"></i>
											</a>
										</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>

</html>