<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminLayout}">

<head>
	<title>ST ADMIN - CATEGORY</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Categories</h1>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h4 class="mt-0 font-weight-bold text-primary">Category Data
						<a th:href="@{/admin/insert-category}" class="btn btn-primary btn-icon-split float-right">
							<span class="icon text-white-50">
								<i class="fas fa-plus"></i>
							</span>
							<span class="text">Add</span>
						</a>
					</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Action</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Action</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="category: ${categories}">
									<td th:text="${category.categoryId}" />
									<td th:text="${category.categoryName}" />
									<td>
										<a th:href="@{/admin/edit-category/{id}(id=${category.categoryId})}"
											class="btn btn-warning btn-circle btn-sm categoryEditBtn" title="Update">
											<i class="fas fa-edit"></i>
										</a>
										<a th:href="@{/admin/destroy-category/(id=${category.categoryId})}"
											class="btn btn-danger btn-circle btn-sm categoryDeleteBtn" title="Delete">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!--###########  DELETE MODAL  ################# -->
		<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteCategoryModalLabel">Delete Category</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p class="alert alert-danger">
							Are you sure want to delete this record?
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<a href="" class="btn btn-danger" id="deleteCategory">Delete</a>
					</div>
				</div>
			</div>

		</div>

	</div>


</body>

</html>