<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title>Neptune - Your Cart</title>
	<style>
		input[readonly] {
			cursor: default;
		}
	</style>
</head>

<body>

	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>Shopping Cart</h4>
							<div class="breadcrumb__links">
								<a href="./index.html">Home</a>
								<a href="./shop.html">Shop</a>
								<span>Shopping Cart</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shopping Cart Section Begin -->
		<section class="shopping-cart spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="shopping__cart__table">
							<table>
								<thead>
									<tr>
										<th>Product</th>
										<th>Quantity</th>
										<th>Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr:block th:if="${cartItems=='NoData'}">
										<td>No Data</td>
									</tr:block>
									<tr th:if="${cartItems!='NoData'}" th:each="item : ${cartItems}">
										<td th:text="${item.cartItemId}" hidden>
										<td class="product__cart__item">
											<div class="product__cart__item__pic">
												<img height="120px"
													th:src="@{${'/product-photos/' + item.product.productImage}}"
													alt="">
											</div>
											<div class="product__cart__item__text">
												<h6 th:text="${item.product.productName}">
													[[${item.product.productName}]]</h6>
												<h5 th:text="${item.product.productPrice}">
													[[${item.product.productPrice}]] </h5>
											</div>
										</td>
										<td class="quantity__item">
											<div class="quantity">
												<div class="pro-qty-2">
													<input type="text" th:value="${item.quantity}" readonly>
												</div>
											</div>
										</td>
										<td class="cart__price" th:text="${item.product.productPrice * item.quantity}">
											[[${item.product.productPrice * item.quantity}]]</td>
										<td class="cart__close"><a
												th:href="@{/destroy-cart-item/(id=${item.cartItemId})}" title="Delete"
												id="cartItemDeleteBtn"><i class="fa fa-close"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="continue__btn">
									<a th:href="@{/shop}">Continue Shopping</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="continue__btn update__btn">
									<a href="#"><i class="fa fa-spinner"></i> Update cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="cart__discount">
							<h6>Discount codes</h6>
							<form th:action="@{/cart}">
								<input type="text" placeholder="Coupon code" name="couponName" id="couponId">
								<button type="submit">Apply</button>
							</form>
							<p class="mt-2 pl-lg-5" th:text="${coupon}"></p>
						</div>
						<div class="cart__total">
							<h6>Cart total</h6>
							<ul>
								<li>Total <span th:text="${total} ? ${'P ' + total} : 'P 00.00'"></span></li>
							</ul>
							<a th:href="@{/checkout}" class="primary-btn">Proceed to checkout</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--###########  DELETE MODAL  ################# -->
		<div class="modal fade" id="deleteCartItemModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteCartItemModal">Remove Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p class="alert alert-danger">
							Are you sure want to remove this item to your cart?
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<a href="" class="btn btn-danger" id="deleteCart">Delete</a>
					</div>
				</div>
			</div>

		</div>
		<!-- Shopping Cart Section End -->
	</div>

</body>

</html>