<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title>Neptune - Shop</title>
</head>

<body>

	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>Shop</h4>
							<div class="breadcrumb__links">
								<a th:href="@{/}">Home</a>
								<span>Shop</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__search">
								<form action="#">
									<input type="text" placeholder="Search...">
									<button type="submit"><span class="icon_search"></span></button>
								</form>
							</div>
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">Categories</a>
										</div>
										<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="#">Men (20)</a></li>
														<li><a href="#">Bags (20)</a></li>
														<li><a href="#">Clothing (20)</a></li>
														<li><a href="#">Accessories (20)</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__option__left">
										<p>Showing 1–12 of 126 results</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__option__right">
										<p>Sort by Price:</p>
										<select>
											<option value="">Low To High</option>
											<option value="">P 0 - P 555</option>
											<option value="">P 555 - P5000</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item">
									<div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">
									<span class="label">Sale</span>
									
									</div>
									<div class="product__item__text">
										<h6>Piqué Biker Jacket</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<h5>P 1267.24</h5>
									</div>
								</div>
							</div>
						
						<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item sale">
									<div class="product__item__pic set-bg" th:data-setbg="@{/img/product/phsb.jpg}">
									<span class="label">Sale</span>
									</div>
									<div class="product__item__text">
										<h6>Plain Hoodie Sky Blue</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<h5>P 800.00</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item sale">
									<div class="product__item__pic set-bg" data-setbg="img/product/product-16.jpg">
									<span class="label">Sale</span>
									</div>
									<div class="product__item__text">
										<h6>Winter Jacket Gray</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<h5>P 1500.00</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item sale">
									<div class="product__item__pic set-bg" data-setbg="img/product/product-15.jpg">
									<span class="label">Sale</span>
									</div>
									<div class="product__item__text">
										<h6>Winter Jacket Red</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<h5>P 1260.00</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item sale">
									<div class="product__item__pic set-bg" data-setbg="img/product/product17.jpg">
									<span class="label">Sale</span>
									</div>
									<div class="product__item__text">
										<h6>Winter Jacket Red</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<h5>P 100.00</h5>
									</div>
								</div>
							</div>
						
						<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item sale">
									<div class="product__item__pic set-bg" data-setbg="img/product/product-4.jpg">
									<span class="label">Sale</span>
									</div>
									<div class="product__item__text">
										<h6>Polo Jacket</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<h5>P 1600.00</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="product__pagination">
									<a class="active" href="#">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<span>...</span>
									<a href="#">21</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- Shop Section End -->
	</div>

</body>

</html>